@font-face {
  font-family: Jellyfish;
  src: url(../Fonts/Jellyfish/Jellyfish.woff);
}
@-webkit-keyframes fade-in-out {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px) opacity(0%);
  }
  30% {
    letter-spacing: 0;
    filter: blur(0) opacity(1);
  }
  100% {
    letter-spacing: 0;
    filter: blur(0) opacity(1);
  }
}
body {
  animation-name: fade-in-out;
  animation-duration: 3s;
  animation-iteration-count: 1;
  font-family: Jellyfish;
  margin: 0;  padding: 0;
  box-sizing: border-box;
  background-image: url(../Valentine\ Project/img/bg.png);
}

.frame {
  width: 300px;
  height: 100px;
  position: relative;
  margin-left: 150px;
  z-index: -1;
}

h1 {
  color: #816257;
  text-align: center;
  position: absolute;
  margin-left: 500px;
  margin-top: 250pX;
  font-size: 46px;
}


.btn {
  background-color: #fcafae;
  font-weight: bold;
  width: 90px;
  height: 50px;
  border-radius: 20px;
  margin-left: 1100px;
  margin-top: 370px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  font-family: Jellyfish;
  border: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.2); 
}
